{% extends 'base_layout.html' %} {% load static %} {% block content %}
        <!-- Main Content -->
        <div id="main-content" class="site-main clearfix">
          <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
              <div id="inner-content" class="inner-content-wrap">
                <section class="page-title" style="background: #021f3c">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="baner-title fl-st-4">
                          <h2
                            class="title-page white-color wow fadeInDown"
                            data-wow-delay="200ms"
                            data-wow-duration="1500ms"
                          >
                            Articles Page
                          </h2>
                          <div class="breadcrumbs">
                            <ul class="fl-flex">
                              <li>
                                <a
                                  href="{% url 'home' %}"
                                  class="white-color wow fadeInUp"
                                  data-wow-delay="200ms"
                                  data-wow-duration="1500ms"
                                  >Home</a
                                >
                              </li>
                              <li class="breadcrumbs-inner">
                                <span
                                  class="trail-end white-color wow fadeInUp"
                                  data-wow-delay="400ms"
                                  data-wow-duration="1500ms"
                                  >Articles</span
                                >
                              </li>
                            </ul>
                          </div>
                          <!--/breadcrumbs-->
                        </div>
                        <!--/baner-title-->
                      </div>
                    </div>
                  </div>
                </section>

                <section class="fl-news fl-section-top">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-xs-12">
                        <div
                          class="our-post"
                          style="display: flex; flex-wrap: wrap"
                        >
                          <div
                            class="box-news fl-rela wow fadeInUp col-md-4"
                            data-wow-delay="100ms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;/articles-single;
                              animation-duration: 1500ms;
                              animation-delay: 100ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img
                                src="https://t3.ftcdn.net/jpg/02/20/21/40/360_F_220214030_D3P5eFfXvY8pz8SEhPeQh27xvbJ1jX1n.jpg"
                                alt="image"
                              />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Learn English</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >January 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem Ipsum</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >12 Best Ways To learn English</a
                                >
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <!--/box-news-->
                          <div
                            class="box-news fl-rela mgr-none wow fadeInUp col-md-4"
                            data-wow-delay="300ms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;
                              animation-duration: 1500ms;
                              animation-delay: 300ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img
                                src="https://media.istockphoto.com/id/1453852952/vector/spanish.jpg?s=612x612&w=0&k=20&c=osO54uBF4_OsGvHjbDON15g9lecjS2Jhw7QiaFZjSao="
                                alt="image"
                              />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Learn Spanish</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >Feburay 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem Ipsum</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >07- Ways To learn Spanish Fast</a
                                >
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <!--/box-news-->
                          <div
                            class="box-news fl-rela wow fadeInUp col-md-4"
                            data-wow-delay="100msms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;
                              animation-duration: 1500ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img src={% static "image/common/news3-3.jpg" %}
                              alt="image" />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Audio File</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >march 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >07- Ways To learn Spanish Fast
                                </a>
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <div
                            class="box-news fl-rela wow fadeInUp col-md-4"
                            data-wow-delay="100ms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;/articles-single
                              animation-duration: 1500ms;
                              animation-delay: 100ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img src="{% static '/image/common/news8-8.jpg' %}"
                              alt="image" />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Learn English</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >January 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem Ipsum</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >12 Best Ways To learn English</a
                                >
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <!--/box-news-->
                          <div
                            class="box-news fl-rela mgr-none wow fadeInUp col-md-4"
                            data-wow-delay="300ms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;
                              animation-duration: 1500ms;
                              animation-delay: 300ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img src={% static "/image/common/news3-3.jpg" %}
                              alt="image" />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Learn Spanish</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >Feburay 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem Ipsum</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >07- Ways To learn Spanish Fast</a
                                >
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <!--/box-news-->
                          <div
                            class="box-news fl-rela wow fadeInUp col-md-4"
                            data-wow-delay="100msms"
                            data-wow-duration="1500ms"
                            style="
                              visibility: visible;
                              animation-duration: 1500ms;
                              animation-name: fadeInUp;
                            "
                          >
                            <div
                              class="box-feature fl-scale fl-rela fl-max fl-shadow-1"
                              style="max-height: 235px; min-height: 235px"
                            >
                              <img src={% static "image/common/news4-4.jpg" %}
                              alt="image" />
                              <div class="news-category">
                                <h6>
                                  <a href="/articles-single">Audio File</a>
                                </h6>
                              </div>
                            </div>
                            <div class="box-content-news fl-shadow-1">
                              <ul class="meta fl-flex">
                                <li>
                                  <a href="/articles-single" class="day-post"
                                    >march 7, 2024</a
                                  >
                                </li>
                                <li><h6 class="author">by Lorem</h6></li>
                              </ul>
                              <div class="fl-style-1 title-post">
                                <a href="/articles-single"
                                  >07- Ways To learn Spanish Fast
                                </a>
                              </div>
                              <div class="btn-learn-more">
                                <a
                                  href="/articles-single"
                                  class="fl-btn fl-st-1 theme-color2"
                                  ><i class="icon-longgg-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--/our-post-->
                   
                      </div>
                    </div>
                  </div>
                </section>

                <section class="tf-listing fl-section-top">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6"></div>
                      <div class="col-lg-6"></div>
                    </div>
                  </div>
                </section>
              </div>
              <!--#inner-content-->
            </div>
            <!--site-content-->
          </div>
          <!--#content-wrap-->
        </div>
        <!--/#main-content-->
      </div>
    </div>


    {% endblock %}