{% extends 'base_layout.html' %} {% load static %} {% block content %}



        <!-- Main Content -->
      <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
          <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
              <div class="page-content">
                <section class="page-title bg-st-2">
                  <div class="container-fluid">
                    <div class="overlay-header2"></div>

                    <div class="">
                      <div class="row banner-container">
                        <div class="col-lg-6 col-sm-12 banner-text">
                          <div class="carousel-banner m-0 p-0">
                            <div
                              class="themesflat-carousel clearfix wow fadeInUp"
                              data-item="1"
                            >
                              <div
                                class="owl-carousel owl-theme none dots-none"
                              >
                                <div class="slide-item">
                                  <h2 class="title white-color fl-serif">
                                    Main <br />
                                    Heading
                                  </h2>
                                  <p class="sub-title white-color" style="padding-right:0 !important">
                                    We refuse to continue paying for expensive translators. At solmen
                                    it will be necessary to make grammar, pronunciation and
                                    more sleepy words. But when languages coalesce, they
                                    grammar of the resulting languages is more simple and regular
                                    quam ti del
                                  </p>
                                                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-5 d-sm-none d-lg-block col-sm-12 banner-img1">
                          <img src="{% static 'img/header.png' %}"
                          class="" alt="image" />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <section
                  class="tf-offer fl-st-1 fl-section"
                  style="position: relative; background: #fff"
                >
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <div class="box-offer-special">
                          <div
                            class="feature-offer wow fadeInLeft"
                            data-wow-delay="200ms"
                            data-wow-duration="1500ms"
                          >
                            <img src={% static "img/offerSpecial.jpg" %}
                            alt="image" />
                          </div>
                          <div class="content-offer">
                            <div class="fl-title-heading">
                              <div class="sub-heading theme-color">
                                Main heading
                              </div>
                              <h2 class="title-heading muted2-color">
                                About Us
                              </h2>
                            </div>
                            <p >
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry. Lorem Ipsum has been
                              the industry's standard dummy text ever since
                              the 1500s, when an unknown printer took a galley
                              of type and scrambled it to make a type specimen
                              book.It has survived not only five centuries,
                              but also the leap into electronic typesetting,
                              remaining essentially unchanged.
                            </p>
                            <div class="btn-offer">
                              <a
                                href="#"
                                class="themesflat-button3 bg-theme st-3"
                              >
                                <span class="icon-btn"></span
                                ><i class="fa-solid fa-headphones"></i>
                                Learn More
                              </a>
                            </div>
                          </div>
                          <!--/box-offer-special-->
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                {% if user.is_authenticated %} 
                <section class="tf-story fl-st-1 fl-section">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-sx-12">
                        <div class="box-wrap-story">
                          <div class="fl-title-heading">
                            <div class="sub-heading theme-color">
                              Headline
                            </div>
                            <h2 class="title-heading">
                              Main<br />
                              heading
                            </h2>
                            <p class="wrap" >
                              There are many variations of passages of Lorem
                              Ipsum available, but the majority have suffered
                              alteration in some form, by injected humour, or
                              randomised words which don't look even slightly
                              believable. If you are going to use a passage of
                              Lorem Ipsum, you need to be sure there isn't
                              anything embarrassing hidden in the middle of
                              text.
                            </p>
                          </div>
                          <div class="btn-story">
                            <a
                              href="#"
                              class="themesflat-button3 bg-theme st-2"
                            >
                              <span class="icon-btn"
                                ><i class="fa-solid fa-headphones"></i
                              ></span>
                              Learn More
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sx-12">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="inputState" class="form-label"
                              >Your Language</label
                            >
                            <select
                              id="inputYouLanguage"
                              class="form-select mb-0"
                              style="background: #fff; padding: 8px 10px"
                            >
                              <option  value="0" selected value="0" >Select Language</option>
                              {% for lang_code, lang_name in LANGUAGES %}
                                <option value="{{ lang_code }}">{{ lang_name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="inputState" class="form-label"
                              >Foreign Language</label
                            >
                            <select
                              id="inputForeignLanguage"
                              class="form-select mb-0"
                              style="background: #fff; padding: 8px 10px"
                            >
                              <option value="0" selected>Select Language</option>
                              {% for lang_code, lang_name in LANGUAGES_all %}
                                <option value="{{ lang_code }}">{{ lang_name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div style="width:100%;height:430px; overflow-y: auto;overflow-x:hidden" id="style-1">

                            <div class="row" id="audio_list">
                              {% for key, values in audio_dict.items %}
                                  {% with count=0 %}
                                      {% for data in values %}
                                          {% with count=count|add:1 %}
                                              <div class="col-md-4" style="margin-top: 1%;">
                                                  
                                                  {% if data.2 == 'mp3' %}
                                                      <div class="item-episodes">
                                                          <div class="box-feature fl-rela fl-st-1">
                                                              <img src="{% static 'img/1.png' %}" alt="image" style="width: 100%;" />
                                                              {% if download_status == 'free' %}
                                                                  <div class="meta">
                                                                      <a href="#" class="free">Free</a>
                                                                  </div>
                                                              {% else %}
                                                                  <div class="meta Premium">
                                                                      <a href="#" class="Premium">Premium</a>
                                                                  </div>
                                                              {% endif %}
                                                              <div class="box-icon-3" style="width: 100%;">
                                                                  <div class="row">
                                                                      <a href="/media/{{ data.0 }}" download class="player-m play-pause-button">
                                                                          <i class="fa-solid fa-download"></i>
                                                                      </a>
                                                                      <a style="margin-left: 6%;" onclick="audiofile(this, 'media/{{ data.0 }}')"
                                                                          class="player-m play-pause-button">
                                                                          <i class="fa-solid fa-play" id="media/{{ data.0 }}"></i>
                                                                      </a>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="box-content">
                                                              <p class="title-episodes" style="font-size: 14px;">{{ data.1 }}</p>
                                                          </div>
                                                      </div>
                                                  {% elif data.2 == 'mp4' %}
                                                      <div class="item-episodes">
                                                          <div class="box-feature fl-rela fl-st-1">
                                                              <img src="{% static 'img/3.png' %}" alt="image" style="width: 100%;" />
                                                              {% if download_status == 'free' %}
                                                                  <div class="meta">
                                                                      <a href="#" class="free">Free</a>
                                                                  </div>
                                                              {% else %}
                                                                  <div class="meta Premium">
                                                                      <a href="#" class="Premium">Premium</a>
                                                                  </div>
                                                              {% endif %}
                                                              <div class="box-icon-3" style="width: 100%;">
                                                                  <div class="row">
                                                                      <a href="/media/{{ data.0 }}" download class="player-m play-pause-button">
                                                                          <i class="fa-solid fa-download"></i>
                                                                      </a>
                                                                      <a 
                                                                        href="http://127.0.0.1:8000/media/{{ data.0 }}"
                                                                        style="margin-left: 6%;" 
                                                                  
                                                                        class="popup-video">
                                                                          <i class="fa-solid fa-play" id="media/{{ data.0 }}"></i>
                                                                      </a>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="box-content">
                                                              <p class="title-episodes" style="font-size: 14px;">{{ data.1 }}</p>
                                                          </div>
                                                      </div>
                                                    {% else %}

                                                    <div class="item-episodes">
                                                      <div class="box-feature fl-rela fl-st-1">
                                                          <img src="{% static 'img/2.png' %}" alt="image" style="width: 100%;" />
                                                          {% if download_status == 'free' %}
                                                              <div class="meta">
                                                                  <a href="#" class="free">Free</a>
                                                              </div>
                                                          {% else %}
                                                              <div class="meta Premium">
                                                                  <a href="#" class="Premium">Premium</a>
                                                              </div>
                                                          {% endif %}
                                                          <div class="box-icon-3" style="width: 100%;">
                                                              <div class="row">
                                                                  <a href="/media/{{ data.0 }}" download class="player-m play-pause-button">
                                                                      <i class="fa-solid fa-download"></i>
                                                                  </a>
                                                                  <!-- <a style="margin-left: 6%;" onclick="audiofile(this, 'media/{{ data.0 }}')"
                                                                      class="player-m play-pause-button">
                                                                      <i class="fa-solid fa-play" id="media/{{ data.0 }}"></i>
                                                                  </a> -->
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="box-content">
                                                          <p class="title-episodes" style="font-size: 14px;">{{ data.1 }}</p>
                                                      </div>
                                                  </div>
                                                      
                                                  {% endif %}
                                              </div>
                                          {% endwith %}
                                      {% endfor %}
                                  {% endwith %}
                              {% endfor %}
                          </div>
                          
                          

                          </div> 
                        </div>
                        <p id="download" style="display: none;">{{ download_status }}</p>
                        
                      </div>
                    </div>
                  </div>
                </section>
              {% endif %}


                <section class="tf-about-us fl-st-1 fl-section-top">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="box-about-us">
                          <div class="fl-title-heading ct">
                            <h2
                              class="title-heading white-color wow fadeInDown"
                              data-wow-delay="0ms"
                              data-wow-duration="1500ms"
                            >
                              Hey, Comcato Play Wow in The World
                            </h2>
                            <p
                              class="white-color wow fadeInDown"
                              data-wow-delay="200ms"
                              data-wow-duration="1500ms"
                            >
                              There are many variations of passages of Lorem
                              Ipsum available, but the majority have suffered
                              alteration in some form, by injected humour
                            </p>
                            <div
                              class="box-icon-4 wow fadeInDown"
                              data-wow-delay="400ms"
                              data-wow-duration="1500ms"
                            >
                              <a
                                href="https://www.youtube.com/watch?v=wfKs3ProM7M"
                                class="popup-video"
                                ><i class="icon-playplay"></i
                              ></a>
                            </div>
                          </div>
                          <img src={% static "img/feature-about.png" %}
                          class="feature-about" alt="image" />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                

                <section class="tf-sub fl-st-1">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="fl-flex fl-max fl-sub">
                          <div class="fl-title-heading">
                            <div
                              class="sub-heading theme-color wow fadeInDown"
                              data-wow-delay="0ms"
                              data-wow-duration="1500ms"
                            >
                              Newsletter
                            </div>
                            <h2
                              class="title-heading white-color wow fadeInDown"
                              data-wow-delay="200ms"
                              data-wow-duration="1500ms"
                            >
                              Subscribe Now
                            </h2>
                          </div>
                          <p
                            class="wrap-sub white-color wow fadeInDown"
                            data-wow-delay="400ms"
                            data-wow-duration="1500ms"
                          >
                            Get notified about updates and be the first to get
                            early access to new episodes.
                          </p>
                        </div>
                        <div
                          class="form-sub wow fadeInUp"
                          data-wow-delay="200ms"
                          data-wow-duration="1500ms"
                        >
                          <form
                            id="subscribe-form"
                            action="#"
                            method="GET"
                            accept-charset="utf-8"
                            class="form-submit"
                          >
                            <input
                              name="email"
                              value=""
                              class="email"
                              type="text"
                              required
                              placeholder="Enter email address"
                            />
                            <button id="submit" name="submit" type="submit">
                              <span><i class="fas fa-paper-plane"></i></span>
                              Subscribe Now
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <footer id="footer">
                  <div class="footer-bottom">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="box-bottom">
                            <ul class="list-bottom fl-flex">
                              <li class="fl-rela border-right">
                                <a href="#">Contact</a>
                              </li>
                              <li class="fl-rela border-right">
                                <a href="#">Imprint</a>
                              </li>
                              <li class="mgr-none">
                                <a href="#">Privacy</a>
                              </li>
                            </ul>
                            <p class="coppy-right">
                              Copyright © 2024 Comcato
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>
              </div>
              <!--.page-content-->
            </div>
            <!--#inner-content-->
          </div>
          <!--site-content-->
        </div>
        <!--#content-wrap-->
      </div>
      <!--/#main-content-->
    </div>
  </div>
    <script>
      var download = document.getElementById("download").innerText
      var sound;
      var data = JSON.parse("{{data|escapejs}}"); 
      console.log(data)
      document.addEventListener('DOMContentLoaded', function() {
        var foreignLanguageDropdown = document.getElementById('inputForeignLanguage');
        var yourLanguageDropdown = document.getElementById('inputYouLanguage');

        yourLanguageDropdown.addEventListener('change', function() {
          var selectedforeignLanguage = foreignLanguageDropdown.value;
          var selectedyourLanguage = yourLanguageDropdown.value;
          console.log(selectedyourLanguage)


          
          
          if(selectedforeignLanguage != '0' && selectedyourLanguage != '0'){

            document.getElementById('audio_list').innerHTML=''


            if(selectedforeignLanguage=='0'){
              
              for (var [key, value] of Object.entries(data)) {
                for(var i=0;i<value.length;i++){

              
                  status=''
                  if(download==1){
                    status = 'free'
                  }
                  else{
                    status = 'Premium'
                  }

                  document.getElementById('audio_list').innerHTML+=`
                  <div class="col-md-4" style="margin-top: 1%;">
                    <div class="item-episodes">
                                            
                      <div class="box-feature fl-rela fl-st-1">
                      
                        <img src="{% static 'img/1.png' %}"
                        alt="image" style="width: 100%;" />
                      
                        <div class="meta ${status}">
                          <a href="#" class="${status}">${status}</a>
                        </div>
                      
                        <div class="box-icon-3">
                          <a
                            href="/media/${value[i][0]}"
                            download
                            class="player-m play-pause-button"
                            ><i class="fa-solid fa-download"></i
                          ></a>
                        </div>
                      </div>
                      <div class="box-content">
                        <a href="#" class="title-episodes"
                          >${value[i][1]}</a
                        >
                      </div>
                    
                  </div>
                </div>
                
                
                `

                }
              }
            
            }
            else{
              
              for(var i=0;i<data[selectedyourLanguage].length;i++){

                console.log(selectedyourLanguage)
                console.log(selectedforeignLanguage)
                console.log(data[selectedyourLanguage][i][3])
                console.log(data[selectedyourLanguage][i][4])

                if(selectedyourLanguage==data[selectedyourLanguage][i][3] && selectedforeignLanguage==data[selectedyourLanguage][i][4]){

                  
                  console.log(data[selectedyourLanguage][i])
                  status=''
                  if(download=='free'){
                    status = 'free'
                  }
                  else{
                    status = 'Premium'
                  }
                  if(data[selectedyourLanguage][i][2]=='mp3'){

                  

                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/1.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>
                                <a
                                
                                  style="margin-left: 6%;"
                                  onclick="audiofile(this, 'media/${data[selectedyourLanguage][i][0]}')"
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-play"  id="media/${data[selectedyourLanguage][i][0]}" ></i
                                ></a>
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `
                  }
                  else if(data[selectedyourLanguage][i][2] == 'mp4'){


                    
                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/3.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>

                                <a 
                                href="http://127.0.0.1:8000/media/${data[selectedyourLanguage][i][0]}"
                                style="margin-left: 6%;" 
                          
                                target='_blank'>
                                  <i class="fa-solid fa-play" id="media/${data[selectedyourLanguage][i][0]}"></i>
                              </a>
                              
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `


                  }
                  else{

                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/2.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>
                              
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `

                  }
                }
              }
            }
          }
          
        });
      
      

      
        foreignLanguageDropdown.addEventListener('change', function() {
          var selectedforeignLanguage = foreignLanguageDropdown.value;
          var selectedyourLanguage = yourLanguageDropdown.value;
          console.log(selectedyourLanguage)


       
          
          if(selectedforeignLanguage!='0' && selectedyourLanguage!='0'){

          
            document.getElementById('audio_list').innerHTML=''

            if(selectedforeignLanguage=='0'){
              
              for (var [key, value] of Object.entries(data)) {
                for(var i=0;i<value.length;i++){

              
                  status=''
                  if(download==1){
                    status = 'free'
                  }
                  else{
                    status = 'Premium'
                  }

                  document.getElementById('audio_list').innerHTML+=`
                  <div class="col-md-4" style="margin-top: 1%;">
                    <div class="item-episodes">
                                            
                      <div class="box-feature fl-rela fl-st-1">
                      
                        <img src="{% static 'img/1.png' %}"
                        alt="image" style="width: 100%;" />
                      
                        <div class="meta ${status}">
                          <a href="#" class="${status}">${status}</a>
                        </div>
                      
                        <div class="box-icon-3">
                          <a
                            href="/media/${value[i][0]}"
                            download
                            class="player-m play-pause-button"
                            ><i class="fa-solid fa-download"></i
                          ></a>
                        </div>
                      </div>
                      <div class="box-content">
                        <a href="#" class="title-episodes"
                          >${value[i][1]}</a
                        >
                      </div>
                    
                  </div>
                </div>
                
                
                `

                }
              }
            
            }
            else{
              
              for(var i=0;i<data[selectedyourLanguage].length;i++){

                console.log(selectedyourLanguage)
                console.log(selectedforeignLanguage)
                console.log(data[selectedyourLanguage][i][3])
                console.log(data[selectedyourLanguage][i][4])

                if(selectedyourLanguage==data[selectedyourLanguage][i][3] && selectedforeignLanguage==data[selectedyourLanguage][i][4]){

                  
                  console.log(data[selectedyourLanguage][i])
                  status=''
                  if(download=='free'){
                    status = 'free'
                  }
                  else{
                    status = 'Premium'
                  }
                  if(data[selectedyourLanguage][i][2]=='mp3'){

                  

                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/1.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>
                                <a
                                
                                  style="margin-left: 6%;"
                                  onclick="audiofile(this, 'media/${data[selectedyourLanguage][i][0]}')"
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-play"  id="media/${data[selectedyourLanguage][i][0]}" ></i
                                ></a>
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `
                  }
                  else if(data[selectedyourLanguage][i][2] == 'mp4'){


                    
                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/3.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>

                                <a 
                                href="http://127.0.0.1:8000/media/${data[selectedyourLanguage][i][0]}"
                                style="margin-left: 6%;" 
                          
                                target='_blank'>
                                  <i class="fa-solid fa-play" id="media/${data[selectedyourLanguage][i][0]}"></i>
                              </a>
                              
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `


                  }
                  else{

                    document.getElementById('audio_list').innerHTML+=`
                      <div class="col-md-4" style="margin-top: 1%;">
                        <div class="item-episodes">
                                                
                          <div class="box-feature fl-rela fl-st-1">
                          
                            <img src="{% static 'img/2.png' %}"
                            alt="image" style="width: 100%;" />
                          
                            <div class="meta ${status}">
                              <a href="#" class="${status}">${status}</a>
                            </div>

                            <div class="box-icon-3" style="width: 100%;">
                              <div class="row">

                                <a
                                  href="/media/${data[selectedyourLanguage][i][0]}"
                                  download
                                  class="player-m play-pause-button"
                                  ><i class="fa-solid fa-download"></i
                                ></a>
                              
                              </div>
                            </div>
                          
                          </div>
                          
                          <div class="box-content">
                            <a href="#" class="title-episodes"
                              >${data[selectedyourLanguage][i][1]}</a
                            >
                          </div>
                        
                      </div>
                    </div>
                    
                    
                    `

                  }
                }
              }
            }
          }
          
        });
      
      
      
      });
    
    
      function audiofile(element,audioFile){

        var iconElement = element.querySelector('i');
      
      // Toggle between play and pause icons
      if (iconElement.classList.contains('fa-play')) {
        // Change to pause icon
        iconElement.classList.remove('fa-play');
        iconElement.classList.add('fa-pause');
        
        // Add logic for playing audio here
        var currentUrl = window.location.href;

        // Log or use the URL as neede
        var audiofilelink = currentUrl+audioFile
        if(sound!=undefined){
          sound.pause();
        }
        sound = new Audio(audiofilelink);
        sound.play();
      } else {
        // Change to play icon
        iconElement.classList.remove('fa-pause');
        iconElement.classList.add('fa-play');

        if(sound!=undefined){
          sound.pause();
        }
        
        // Add logic for pausing audio here
      }
       

      }
    </script>
    {% endblock %}
   
 